.detail-form {
    margin: 32px auto 0;
    width: 74%;
    font-size: 16px;
}

.detail-form__inner {
    display: flex;
    gap: 30px;
}

.detail-form__breadcrumb-text {
    text-decoration: none;
    color: #0085FF;
}

.detail-form__group--horizontal {
    display: flex;
    gap: 50px;
    align-items: center;
}

/* 画像側 */
.detail-form__image {
    width: 350px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    
}

/* フォーム */
.detail-form__group {
    align-items: center;
    margin-top: 32px;

    grid-template-columns: 1fr 2fr;
}

.detail-form__group:first-of-type {
    margin-top: 40px;
}

.detail-form__label {
    font-size: 18px;
}

.detail-form__input {
    padding: 8px;
    background-color: #FFFFFF;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
}

.detail-form__image-input {
    display: none;
}

/* カスタムの見た目 */
.detail-form__file-label {
    display: inline-block;
    padding: 8px 16px;
    background: #E0DFDE;
    border: 1px solid #4B4B4B;
    cursor: pointer;
    transition: background 0.3s;
}

.detail-form__input,
.detail-form__season-inputs {
    margin-top: 10px;
}

.detail-form__season-inputs {
    display: flex;
    justify-content: space-between;
}

.detail-form__season-option {
    position: relative;
}

.detail-form__season-input {
    position: absolute;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.detail-form__season-text {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.detail-form__season-text::before {
    display: block;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border: 1px solid #4B4B4B;
    border-radius: 50%;
    content: '';
}

.detail-form__season-input:checked+.register-form__season-text::before {
    background-color: #4B4B4B;
}

.detail-form__season-input:checked+.register-form__season-text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    width: 8px;
    height: 14px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: translateY(-60%) rotate(45deg);
}

.detail-form__textarea {
    padding: 8px 16px;
    height: 144px;
    background-color: #FFFFFF;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    margin-top: 25px;
    width: 100%;
}

.detail-form__required {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    background: #FD0707;
    color: #FFFFFF;
    margin-left: 20px;
}

.detail-form__btn-inner {
    display: flex;
    align-items: center;
    margin: 32px auto 0;
    justify-content: center;
    gap: 32px;
}

.detail-form__send-btn,
.detail-form__back-btn {
    padding: 10px 40px;
    width: 250px;
    height: 50px;
}

.detail-form__back-btn {
    background-color: #E0DFDE;
}